body {
  background: #f1fbff;
}
.section-padding {
  padding: 100px 0;
}
.carousel-item {
  height: 100vh;
  min-height: 300px;
}
.carousel-caption {
  bottom: 150px !important;
  z-index: 2;
}
.carousel-caption h1 {
  font-size: 60px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: 25px;
}
.carousel-caption p {
  width: 60%;
  margin: auto;
  font-size: 18px;
  line-height: 1.9;
}
.carousel-inner::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1;
}
.navbar-nav a {
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 500;
}
.navbar-light .navbar-brand {
  color: black;
  font-size: 25px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
}
.navbar-light .navbar-brand:focus,
.navbar-light .navbar-brand:hover {
  color: black;
}
.navbar-light .navbar-nav .navbar-link {
  color: black;
}
.w-100 {
  height: 100vh;
}

.services .card-body i {
  font-size: 50px;
}
.team .card-body i {
  font-size: 20px;
}
.portfolio .card {
  box-shadow: 15px 15px 40px rgba(0, 0, 0, 0.15);
}
.team .card {
  box-shadow: 15px 15px 40px rgba(0, 0, 0, 0.15);
}
.margin {
  margin-top: 5%;
}
.btn1 {
  border-radius: 60px;
  border: none;
  outline: none;
}
/******RESPONSIVE CSS*******/

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .carousel-item {
    height: 80vh !important;
    min-height: 200px !important;
  }
  .carousel-caption {
    bottom: 200px !important;
  }
  .carousel-caption p {
    width: 100%;
  }
  .card {
    margin-bottom: 30px;
  }
  .img-area img {
    width: 100%;
  }
  .about-text {
    padding-bottom: 5%;
  }
  .style1 {
    margin: 0 auto;
  }
  .new-img {
    height: 50px !important;
  }
}
@media only screen and (max-width: 767px) {
  .navbar-nav {
    text-align: center;
  }
  .carousel-caption {
    bottom: 160px !important;
  }
  .carousel-caption h1 {
    font-size: 17px;
  }
  .carousel-caption a {
    padding: 10px 15px;
  }
  .carousel-caption p {
    width: 100%;
    line-height: 1.6;
    font-size: 12px;
  }
  .about-text {
    padding-bottom: 5%;
  }
  .card {
    margin-bottom: 30px;
  }
  .carousel-item {
    height: 70vh;
    min-height: 100px !important;
  }
  .style1 {
    margin: 0 auto;
  }
  .btn1 {
    border-radius: 60px;
    width: 40% !important;
    text-align: center;
    margin: auto;
    border: none;
    outline: none;
  }
  .new-img {
    height: 0px !important;
  }
}

/*PORTFOLIO SERVICES*/
.p-home {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-image: url(/img/slider2.jpg);
  min-height: 350px;
  opacity: 0.9;
}
.p-home h2 {
  text-align: center;
  color: white;
  line-height: 1.8;
  font-size: 45px;
}
.sv {
  width: 50px;
  height: 5px;
}
.style1 {
  margin: 0 auto;
}

/***LINEAR GRADIENT****/

.l-g {
  background: linear-gradient(
    -100deg,
    rgba(128, 128, 128, 0.144) 50%,
    rgba(255, 208, 0, 1) 50%
  );
}
.pdd {
  padding-left: 20%;
  padding-right: 20%;
}
.border-right {
  border-right: 2px solid white;
}
.warning {
  background-color: rgba(255, 208, 0, 0.7);
}
/*******TESTIMONIAL*******/
.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 320px;
  box-shadow: 0 15px 50px rgba(0, 0, 0, 0.2);
  filter: blur(2px);
  background: #fff;
  border-radius: 10px;
}
.swiper-slide-active {
  filter: blur(0px);
}

.swiper-slide img {
  display: block;
  width: 100%;
}
.testimonialBox {
  position: relative;
  width: 100%;
  padding: 40px;
  padding-top: 90px;
  color: #999;
}
.testimonialBox .quote {
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  opacity: 0.1;
}
.testimonialBox .details {
  display: flex;
  align-items: center;
  margin-top: 20px;
}
.testimonialBox .details .imgBx {
  position: relative;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 10px;
}
.testimonialBox .details .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.testimonialBox .details h3 {
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1px;
  color: #f7d40e;
  line-height: 1.1em;
}
.testimonialBox .details h3 span {
  font-size: 12px;
  color: #555;
}
.swiper-container-3d .swiper-slide-shadow-left,
.swiper-container-3d .swiper-slide-shadow-left {
  background-image: none;
}

/****GREY COLOUR****/
.grey {
  background-color: rgba(128, 128, 128, 0.144);
}
/********FORM SECTION***********/

.form-area {
  padding-top: 7%;
}
.single-form {
  box-shadow: 0 2px 20px -5px rgba(0, 0, 0, 0.5);
  background: #fff;
}
.left {
  background: rgb(255, 208, 0, 0.7);
  padding: 200px 98px;
}
.left h2 {
  font-family: poppins;
  color: #fff;
  font-weight: 700;
  font-size: 48px;
}
.left h2 span {
  font-weight: 100;
}
.right {
  padding: 70px 100px;
  position: relative;
}
.right i {
  position: absolute;
  font-size: 80px;
  left: -27px;
  top: 40%;
  color: #fff;
}
.form-control {
  border: 2px solid #000;
}
.right button {
  border: none;
  border-radius: 0;
  background: #252525;
  width: 180px;
  color: #fff;
  padding: 15px 0;
  display: inline-block;
  font-size: 16px;
  margin-top: 20px;
  cursor: pointer;
}
.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10vh;
  margin-top: 200px !important;
  transform: translateX(25%);
}
.box {
  background: url(img/soon.jpg);
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
  height: 200px;
  width: 300px;
  box-shadow: 0 20px 5px 5px rgba(0, 0, 0, 0.2);
  animation: animate 5s ease-in-out infinite;
  transition: all 1s ease-in-out;
}
@keyframes animate {
  0% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
  50% {
    border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
  }
  100% {
    border-radius: 60% 40% 30% 70%/50% 30% 70% 40%;
  }
}
/***************SHOP SLIDER***************/
.slider-wrapper {
  position: relative;
}
.slider-wrapper .slide-button {
  height: 50px;
  width: 50px;
  color: #f7d40e;
  background: #000;
  font-size: 2.2rem;
  cursor: pointer;
  border-radius: 50%;
  border: none;
  outline: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 5;
  align-items: center;
  justify-content: center;
  display: flex;
}
.slider-wrapper .slide-button:hover {
  background: #444;
}
.slider-wrapper .slide-button#prev-slide {
  left: -20px;
}
.slider-wrapper .slide-button#next-slide {
  right: -20px;
}
.slider-wrapper .image-list {
  display: grid;
  gap: 18px;
  font-size: 0;
  margin-bottom: 30px;
  overflow-x: auto;
  scrollbar-width: none;
  grid-template-columns: repeat(10, 1fr);
}
.slider-wrapper .image-list::-webkit-scrollbar {
  display: none;
}
.slider-wrapper .image-list .image-item {
  width: 300px;
  height: 300px;
  object-fit: cover;
}
.contain .slider-scrollbar {
  width: 100%;
  height: 24px;
  display: flex;
  align-items: center;
}
.slider-scrollbar .scrollbar-track {
  height: 2px;
  width: 100%;
  background: #ccc;
  position: relative;
  border-radius: 4px;
}
.slider-scrollbar:hover .scrollbar-track {
  height: 4px;
}
.slider-scrollbar .scrollbar-thumb {
  position: absolute;
  height: 100%;
  width: 50%;
  background: #000;
  border-radius: inherit;
  cursor: grab;
}
.slider-scrollbar .scrollbar-thumb:active {
  cursor: grabbing;
  height: 8px;
  top: -2px;
}
.slider-scrollbar .scrollbar-thumb::after {
  content: " ";
  position: absolute;
  left: 0;
  right: 0;
  top: -10px;
  bottom: -10px;
}
.main {
  display: flex;
  align-items: center;
  justify-content: center;
}
.contain {
  max-width: 1200px;
  width: 95%;
}
/* Styles for mobile and tablets */
@media only screen and (max-width: 1023px) {
  .slider-wrapper .slide-button {
    display: none !important;
  }
  .slider-wrapper .image-list {
    gap: 10px;
    margin-bottom: 15px;
    scroll-snap-type: x mandatory;
  }
  .slider-wrapper .image-list .image-item {
    width: 280px;
    height: 380px;
  }
  .slider-scrollbar .scrollbar-thumb {
    width: 20%;
  }
}
/***********************TEAM SLIDER SECTION*******************/
.containerr {
  margin: 0 20px;
  position: relative;
}
.team-cardd {
  background-color: #f5f5f5;
  border-radius: 8px;
  padding: 20px;
  text-align: center;
  margin: 0 10px;
}
.team-cardd img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 10px;
  display: inline-block;
}
.team-cardd h3 {
  margin-bottom: 5px;
}
.team-cardd p {
  margin-top: 5px;
  font-size: 20px;
  color: #666;
  word-wrap: break-word;
}
.team-slider-controls {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
}
.team-slider-controls button {
  background-color: #222;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  cursor: pointer;
  position: relative;
  width: 40px;
  height: 40px;
}
.team-slider-controls button:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
}
.team-slider-controls .prevv-btn:before {
  border-right: 12px solid #fff;
}
.team-slider-controls .nextt-btn:before {
  border-left: 12px solid #fff;
}
